div.score-container {
  height: 78px;
}

div.home-button-container {
  text-align: center;
  margin-top: 47%;
}

.start {
  background-color: #041f9d !important
}

.modal-content {
   background-color: #041f9d !important;
}

.modal-header {
  border-bottom: none !important;
  color: goldenrod;
}
.modal-body {
  font-family: Vollkorn, Helvetica;
  height: 350px;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
}
.modal-footer {
  border-top: none !important;
}

.answer-span {
  font-family: Vollkorn, Helvetica;
  color: goldenrod;
  font-size: 24px;
  margin-right: 24px;
}

.score {
  width: 100px;
  background-color: black;
  color: white;
  font-size: 24px;
  margin-left: 20px;
  height: 58px;
  border-radius: 4px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

body.body-class {
  background-image: url("http://i.onionstatic.com/avclub/5359/44/16x9/960.jpg");
  background-size: cover;
}

div.col-sm-2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

button.button-value {
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  font-size: 50px;
  color: goldenrod;
  height: 90px;
  background-color: #041f9d;
  font-weight: 800;
}

div.cat-title {
  height: 65px;
  background-color: #041f9d;
  color: white;
  margin: 15px;
  width: 160px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div>h5 {
  font-size: 15px;
}
