<div class="col-sm-12"><button data-toggle="modal" data-target="#{{idTwo}}">{{valueTwo}}</button>
  <div id="{{idTwo}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Value: {{valueTwo}}</h4>
        </div>
        <div class="modal-body">
          <p>{{questTwo}}</p>
        </div>
        <div class="modal-footer">
          <form role="form" class="" ng-submit="addScore(userInput)">
            <input placeholder="{{answerTwo}}"type="text" id="userAnswer" ng-model="userInput">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-md btn primary" name="button" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12"><button data-toggle="modal" data-target="#{{idThree}}">{{valueThree}}</button>
  <div id="{{idThree}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Value: {{valueThree}}</h4>
        </div>
        <div class="modal-body">
          <p>{{questThree}}</p>
        </div>
        <div class="modal-footer">
          <form role="form" class="" ng-submit="addScore(userInput)">
            <input placeholder="{{answerThree}}"type="text" id="userAnswer" ng-model="userInput">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-md btn primary" name="button" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12"><button data-toggle="modal" data-target="#{{idFour}}">{{valueFour}}</button>
  <div id="{{idFour}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Value: {{valueFour}}</h4>
        </div>
        <div class="modal-body">
          <p>{{questFour}}</p>
        </div>
        <div class="modal-footer">
          <form role="form" class="" ng-submit="addScore(userInput)">
            <input placeholder="{{answerFour}}"type="text" id="userAnswer" ng-model="userInput">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-md btn primary" name="button" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12"><button data-toggle="modal" data-target="#{{idFive}}">{{valueFive}}</button>
  <div id="{{idFive}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Value: {{valueFive}}</h4>
        </div>
        <div class="modal-body">
          <p>{{questFive}}</p>
        </div>
        <div class="modal-footer">
          <form role="form" class="" ng-submit="addScore(userInput)">
            <input placeholder="{{answerFive}}"type="text" id="userAnswer" ng-model="userInput">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-md btn primary" name="button" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
